.u-section-1 .u-sheet-1 {
  min-height: 836px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 200px 27px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 218px auto 0 199px;
  padding: 29px 24px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -80px 199px 0 auto;
  padding: 29px 43px 29px 42px;
}

.u-section-1 .u-btn-3 {
  margin: -88px auto 60px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 3.75em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 702px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 411px;
    margin-left: 150px;
    padding-top: 21px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -76px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
    margin-top: -46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}